body{
    margin: 0px;
}

.bgColorPrimary{
    background-color: rgb(45,63,83);
}
.ColorPrimary{
    color:rgb(45,63,83);
    text-align: center;
}
Table{
    min-width: 650;
    border: solid 1px gray;
    margin-top: 1px;
}
TableHead{
    border: solid 2px rgb(45,63,83);
} 

/* TableCell{
    color: rgb(255,255,255)
} */
